*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: capitalize;
	text-decoration: none;

}

body{
	min-height: 100vh;
	background-color: rgb(20, 20, 20);
	background-size: cover;
	background-position: center;
}

header{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: #ffffff;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 1.0);
	padding: 0px 7%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 1000;

}

header .logo{
	font-weight: bolder;
	font-size: 25px;
	color: #333;

}

header .nav-bar ul{
	list-style: none;
}

header .nav-bar ul li{
	position: relative;
	float: left;
}

header .nav-bar ul li a{
	font-size: 20px;
	padding: 20px;
	color: #333;
	display: block;
}

header .nav-bar ul li a:hover{
	background: #333;
	color: #fff;

}

header .nav-bar ul li ul{
	position: absolute;
	left: 0;
	width: 200px;
	background: #fff;
	display: none;
}

header .nav-bar ul li ul li{
	width: 100%;
	border-top: 1px solid rgba(0, 0, 0, 1.0);
}

header .nav-bar ul li ul li ul{
	left: 200px;
	top: 0;
}
header .nav-bar ul li:focus-within > ul,
header .nav-bar ul li:hover > ul{
	display: initial;
}

@import 'https://fonts.googleapis.com/css?family=Raleway';

html, body
{
    margin: 0px;
}

header, footer
{
    font-family: Raleway;
    margin: 0 auto;
	padding: 5em 3em;
	text-align: center;
    background: #555;
}

header h1
{
    color: #AAA;
    font-size: 40px;
    font-weight: lighter;
    margin-bottom: 5px;
}

header span
{
    color: #222;
}

footer span
{
  color: #AAA;
}

div.container
{
    font-family: Raleway;
    margin: 0 auto;
	padding: 3em 3em;
	text-align: center;
}

div.container a
{
    color: #FFF;
    text-decoration: none;
    font: 20px Raleway;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}


.indigo
{
    background: #333;
}




div.topLeftBorders a:before
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 2px;
    height: 0px;
    background: #FFF;
    content: "";
    opacity: 1;
    transition: all 0.3s;
}

div.topLeftBorders a:after
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #FFF;
    content: "";
    opacity: 1;
    transition: all 0.3s;
}

div.topLeftBorders a:hover:before
{
    height: 100%;
}

div.topLeftBorders a:hover:after
{
    opacity: 0;
    top: 100%;
}



header label{
	font-size: 20px;
	color: #333;
	cursor: pointer;
	display: none;
}










@media(max-width: 991px){
	header {
		padding: 20px;

	}

	header label{
		display: initial;
	}

	header .nav-bar{
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		background: #fff;
		border-top: 1px solid rgba(0, 0, 0, 1.0);
		display: none;
	}

	header .nav-bar ul li{
		width: 100%;

	}

	header .nav-bar ul li ul{
		position: relative;
		width: 100%;
	}

	header .nav-bar ul li ul li{
		background: #eee;
	}

	header .nav-bar ul li ul li ul{
		width: 100%;
		left: 0;
	}

	#menu-bar:checked ~ .nav-bar{
		display: initial;
	}

header, footer
{
    font-family: Raleway;
    margin: 0 auto;
	padding: 5em 3em;
	text-align: center;
    background: #555;
}

header h1
{
    color: #AAA;
    font-size: 40px;
    font-weight: lighter;
    margin-bottom: 5px;
}

header span
{
    color: #222;
}

footer span
{
  color: #AAA;
}

div.container
{
    font-family: Raleway;
    margin: 0 auto;
	padding: 3em 3em;
	text-align: center;
}

div.container a
{
    color: #FFF;
    text-decoration: none;
    font: 15px Raleway;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}


.indigo
{
    background: #333;
}




div.topLeftBorders a:before
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 2px;
    height: 0px;
    background: #FFF;
    content: "";
    opacity: 1;
    transition: all 0.3s;
}

div.topLeftBorders a:after
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #FFF;
    content: "";
    opacity: 1;
    transition: all 0.3s;
}

div.topLeftBorders a:hover:before
{
    height: 100%;
}

div.topLeftBorders a:hover:after
{
    opacity: 0;
    top: 100%;
}
	img{
	min-height: 4vh;
	max-height: 10vh;
	min-width: 20%;
	max-width: 80%;

}

header, footer
{
    font-family: Raleway;
    margin: 0 auto;
	padding: 5em 3em;
	text-align: center;
    background: #555;
}

header h1
{
    color: #AAA;
    font-size: 40px;
    font-weight: lighter;
    margin-bottom: 5px;
}

header span
{
    color: #222;
}

footer span
{
  color: #AAA;
}

div.container
{
    font-family: Raleway;
    margin: 0 auto;
	padding: 3em 3em;
	text-align: center;
}

div.container a
{
    color: #FFF;
    text-decoration: none;
    font: 10px Raleway;
    margin: 0px 10px;
    padding: 4px 7px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}


.indigo
{
    background: #333;
}




div.topLeftBorders a:before
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1px;
    height: 0px;
    background: #FFF;
    content: "";
    opacity: 1;
    transition: all 0.3s;
}

div.topLeftBorders a:after
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #FFF;
    content: "";
    opacity: 1;
    transition: all 0.3s;
}

div.topLeftBorders a:hover:before
{
    height: 100%;
}

div.topLeftBorders a:hover:after
{
    opacity: 0;
    top: 100%;
}

.flexbox-container-1{
	min-height: 1%;
	max-height: 5%;
	display: flex;
	flex-wrap: wrap;
	padding: 30px 4px 0px 4px;
	position: relative;
}

.flexbox-container-2{
	display: flex;
	flex-wrap: wrap;
	padding: 5px 5px;
	position: relative;
}

.flexbox-container-3{
	display: flex;
	flex-wrap: wrap;
	padding: 5px 5px;
	position: relative;
}

.flexbox-item{
	width: 200px;
	margin: 10px;
	border: 3px solid #333;
	background-color: #dfdfdf;
	align-content: space-around;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 1.0) ;
}

.flexbox-item-1{
	min-height: 100px;
	flex-grow: 1;
}

.flexbox-item-2{
	min-height: 200px;
	flex-grow: 1;
}
.flexbox-item-3{
	min-height: 300px;
	flex-grow: 1;
}

.flexbox-item-4{
	min-height: 100px;
	flex-grow: 1;
}

.flexbox-item-5{
	min-height: 200px;
	flex-grow: 1;
}

.flexbox-item-6{
	min-height: 300px;
	flex-grow: 1;
}

.flexbox-item-7{
	min-height: 100px;
	flex-grow: 1;
}

.flexbox-item-8{
	min-height: 200px;
	flex-grow: 1;
}

.flexbox-item-9{
	min-height: 300px;
	flex-grow: 1;
}
.blur img {
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}

.blur .bp{
    -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
 
.blur:hover img {
  -webkit-filter: blur(5px);
}

.blur .bp{
    opacity: 0;
    position: absolute;
    top: 30px;
    left: 30px;
}

.blur:hover .bp{
    opacity: 1;
}


.bp{
  text-align: center;
  color: #03e9f4;
  font-size: 5px;
}

.bp .centered-text{
	color: #03e9f4;
	text-align: center;
	font-size: 15px;
}

.flexbox-item{
	height: 10vh;
	position: relative;
	text-align: center;
}

.flexbox-item-1 .centered-text{
	position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #03e9f4;
  font-size: 15px;
}

.centered-text:all{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 15px;
  text-align: center;
  transform: translate(-50%, -50%);
}

footer{
	background: #ffffff;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 1.0);
	padding: 10px 10px;
	}

.button {
  border-radius: 4px;
  background-color: #333;
  border: none;
  color: white;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

button a {
	color: #fff;
}
#Reach-us{
	padding: 15px 25px;
	text-align: center;
	background-color: #fff;
}

html {
  height: 100%;
}
body {
  margin:0;
  padding:0;
  font-family: sans-serif;
  background: linear-gradient(#141e30, #243b55);
}

.login-box {
  position: relative;
  top: 50%;
  left: 50%;
  width: 400px;
  margin-top: 200px;
  margin-bottom: 0;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box a:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}

}









.flexbox-container-1{
	display: flex;
	padding: 90px 10px 0px 10px;
	position: relative;
}

.flexbox-container-2{
	display: flex;
	padding: 10px 10px;
	position: relative;
}

.flexbox-container-3{
	display: flex;
	padding: 10px 10px;
	position: relative;
}

.flexbox-item{
	width: 200px;
	margin: 10px;
	border: 3px solid #333;
	background-color: #dfdfdf;
	align-content: space-around;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 1.0) ;
}

.flexbox-item-1{
	min-height: 100px;
	flex-grow: 1;
}

.flexbox-item-2{
	min-height: 200px;
	flex-grow: 1;
}
.flexbox-item-3{
	min-height: 300px;
	flex-grow: 1;
}

.flexbox-item-4{
	min-height: 100px;
	flex-grow: 1;
}

.flexbox-item-5{
	min-height: 200px;
	flex-grow: 1;
}

.flexbox-item-6{
	min-height: 300px;
	flex-grow: 1;
}

.flexbox-item-7{
	min-height: 100px;
	flex-grow: 1;
}

.flexbox-item-8{
	min-height: 200px;
	flex-grow: 1;
}

.flexbox-item-9{
	min-height: 300px;
	flex-grow: 1;
}



img{
	min-height: 100vh;
	max-height: 70vh;
	min-width: 100%;
	max-width: 100%;
}

.blur img {
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}

.blur .bp{
    -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
 
.blur:hover img {
  -webkit-filter: blur(5px);
}

.blur .bp{
    opacity: 0;
    position: absolute;
    top: 30px;
    left: 30px;
}

.blur:hover .bp{
    opacity: 1;
}


.bp{
  text-align: center;
  color: #03e9f4;
  font-size: 30px;
}

.bp .centered-text{
	color: #03e9f4;
	text-align: center;
	size: 4px;
}

.flexbox-item{
	height: 100vh;
	position: relative;
	text-align: center;
}

.flexbox-item-1 .centered-text{
	position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #03e9f4;
}

.centered-text:all{
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  color: white;
}

footer{
	background: #ffffff;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 1.0);
	padding: 10px 10px;
	}

.button {
  border-radius: 4px;
  background-color: #333;
  border: none;
  color: white;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

button a {
	color: #fff;
}
#Reach-us{
	padding: 15px 25px;
	text-align: center;
	background-color: #fff;
}

html {
  height: 100%;
}
body {
  margin:0;
  padding:0;
  font-family: sans-serif;
  background: linear-gradient(#141e30, #243b55);
}

.login-box {
  position: relative;
  top: 50%;
  left: 50%;
  width: 400px;
  margin-top: 200px;
  margin-bottom: 0;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box a:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}
